<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Qrank - Everyone Starts Somewhere</title>
  </head>
  <body>
    <h1>Qrank - Everyone Starts Somewhere</h1>
    <div class="nav">
    {% if questions %}
      <a href="{{ url_for('main_page') }}">Back to main</a>
    {% else %}
      <a href="{{ url_for('view_questions') }}">Show entries</a>
    {% endif %}
    </div>
    {% if questions %}
      {% block qns %}{% endblock %}
    {% endif %}
  </body>
</html>


