{% extends "index.html" %}
{% block qns %}
    <div class="questionlist">
      {% for item in questions %}
      <div class="questiontable">
        <table class="pure-table pure-table-horizontal" style="empty-cells:hide;">
          <thead>
            <tr>
              <th colspan="{{ item.distractors|length }}">{{ item.id }}. {{ item.question }}</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for option in item.jumbled_options %}
              <td>{{ option }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>  <!-- End div class "results" -->
{% endblock %}